* {
    margin: 0;
}

.container {
    height: calc(100vh - 48px);
    background-image: url('../../img/rectangle.svg');
    padding: 24px;

    &Overlay {
        background-color: white;
        height: 100%;

    }
}