@import 'font';

* {
    margin: 0;
    font-family: 'Avenir LT Std 45 Book';

    &::selection {
        background-color: rgba(255, 138, 157, 0.25);
    }
}

.container {
    height: calc(100vh - 48px);
    background-image: url('../../img/background.svg');
    background-size: cover;

    &Overlay {
        background-color: white;
        height: 100%;

    }
}