@import 'font';

* {
    margin: 0;
    font-family: 'Avenir LT Std 45 Book';
}

.container {
    height: calc(100vh - 48px);
    background-image: url('../../img/background.svg');
    background-size: cover;
    padding: 24px;

    &Overlay {
        background-color: white;
        height: 100%;

    }
}