.pink {
    color: rgba(255, 138, 157, 0.80);
}

.green {
    color: rgba(219, 236, 0, 0.80);
}

.blue {
    color: rgba(196, 251, 241, 0.80);
}

.darkGreen {
    color: rgba(0, 91, 80, 0.80);
}

.lightPink {
    color: rgba(255, 138, 157, 0.30);
}