.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Avenir LT Std 55 Roman';
    font-size: 27px;
    color: #005B50;
    letter-spacing: -0.6px;

    &Items {
        margin: 30px 15px 0;
        transition: box-shadow 0.4s ease-in-out 0s;

        a {
            text-decoration: none;
            transition: box-shadow 0.4s ease-in-out 0s;

            &:link {
                text-decoration: none;
            }

            &:visited {
                text-decoration: none;
                color: #005B50;
            }

            &:hover {
                box-shadow: rgba(255, 138, 157, 1.00) 0px -16px 0px inset;
                transition: box-shadow 0.4s ease-in-out 0s;
            }

            &:active,
            &:focus {
                box-shadow: rgba(219, 236, 0, 0.67) 0px -16px 0px inset;
                transition: box-shadow 0.4s ease-in-out 0s;
            }


        }

        &:last-child {
            margin-right: 30px;
        }


    }
}